@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box
}

main {
  font-family: 'Montserrat';
}

.web-dev {
  color: #2E9BC9;
} 

.code {
  color: #2E9BC9;
}

.card-title {
  text-shadow: 0px 1px 0px #000000;
}

.card-text {
  text-shadow: 0px 1px 0px #000000;
}

.btn {
  background-color: #2E9BC9;
}

footer {
  font-family: 'Montserrat';
  text-shadow: 0px 1px 0px #000000;
}
.navbar-collapse {
  justify-content: flex-end !important;
}

